version: '3.7'

services:
  api:
    build: ./api
    ports:
      - 8000:8000
    volumes:
      - ./mysql:/var/lib/mysql

  manager:
    build:
      context: ./client
      dockerfile: manager.Dockerfile
    ports:
      - 3000:3000
    working_dir: /app/service-manager
    # Addresses https://github.com/facebook/create-react-app/issues/8688
    stdin_open: true
    volumes:
      - ./client/service-manager:/app/service-manager
      - ./client/common:/app/common
      - ./client/testing:/app/testing

  calculator:
    build:
      context: ./client
      dockerfile: calculator.Dockerfile
    ports:
      - 3001:3001
    working_dir: /app/service-calculator
    # Addresses https://github.com/facebook/create-react-app/issues/8688
    stdin_open: true
    volumes:
      - ./client/service-calculator:/app/service-calculator
      - ./client/common:/app/common
      - ./client/testing:/app/testing
